﻿@model IEnumerable<AppLink.Payroll.Domain.Entities.Employee>
@{
    ViewBag.Title = "Home Page";
}

    <h2>Compute Salary</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(i => item.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayFor(i => item.LastName)
            </th>
            <th>
                @Html.DisplayFor(i => item.FirstName)
            </th>
            <th>
                @Html.DisplayFor(i => item.MiddleName)
            </th>
            <th>
                @Html.ActionLink("Compute Salary","ComputeSalary","Salary",new { id=item.Id},null)
            </th>
        </tr>
    }
</table>