﻿@*@model AppLink.Payroll.Domain.Entities.PaySlip*@
@model AppLink.Payroll.Models.ComputeSalaryViewModel
@{
    ViewBag.Title = "ComputeSalary";
}

@*<script type="text/javascript">
        $(function () { // will trigger when the document is ready
           $('.datepicker').datepicker(); //Initialise any date pickers
        });
    </script>*@
<h2>ComputeSalary</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.TimeIn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
           
                @*<div class="col-md-10 date" id="dtp1">
                        @Html.EditorFor(model => model.TimeIn, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.TimeIn, "", new { @class = "text-danger" })
                    </div>*@
                @*<div class="row">
                    <div class="col-md-10">
                        <div id="datetimepicker12"></div>
                    </div>
                  


                </div>*@

                <div id="TimeIn">
                    @*<input type="hidden" id="TimeIn" />*@ 
                    @Html.HiddenFor(ti => ti.TimeIn)
                </div>
              
            </div>

        


        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.TimeOut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.TimeOut, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.TimeOut, "", new { @class = "text-danger" })*@
                <div id="TimeOut">
                    @Html.HiddenFor(ti => ti.TimeOut)
                </div>
            </div>
        </div>

    </div>
    <input type="submit" value="OK"/>
}
<br />


@section Scripts{

    @*<script type="text/javascript">
        $(function () {
            $('#TimeIn').datetimepicker();
        });
    </script>*@
    <script type="text/javascript">
        $(function () {
            $('#TimeIn').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#TimeOut').datetimepicker({
                useCurrent:false,
                inline: true,
                sideBySide: true,
                showTodayButton:true
            });


            $("#TimeIn").on("dp.change", function (e) {
                $("#TimeOut").data("DateTimePicker").minDate(e.date);
            });
            //$("#TimeOut").on("dp.change", function (e) {
            //    $("#TimeIn").data("DateTimePicker").maxDate(e.date);
            //});
        });



    </script>


}


