﻿@model IEnumerable<AppLink.Payroll.Domain.Entities.EmployeeDepartmentPosition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { depId=item.DepartmentId,empId=item.EmployeeId,posId=item.PositionId }) |
            @Html.ActionLink("Details", "Details", new { depId = item.DepartmentId, empId = item.EmployeeId, posId = item.PositionId }) |
            @Html.ActionLink("Delete", "Delete", new { depId = item.DepartmentId, empId = item.EmployeeId, posId = item.PositionId })
        </td>
    </tr>
}

</table>
